body{
    margin: 0px;
    background-color: rgb(0, 0, 10);
}

header h1{
    text-align: center;
    color: white;
    background: rgb(4, 4, 20);
    height: 100px;
}

#rounds{
    text-align: center;
    color: rgb(153, 255, 0);
    font-size: 20px;
    background: rgb(31, 11, 51);
}
#Scores{
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 50px 3px 50px 3px;
    
}
#Scores div{
    margin: 30px 30px 30px 30px;
    color:red;
    font-size: 22px;

}
.hands{
    background-color: black;
    color: white;
    font-size: 30px;
    margin: 0px 5px 0px 5px;
    
}
#hands{
    display: flex;
    justify-content: center;
}
#status{
    margin-top: 20px;
    margin-left: 530px;
    color: aliceblue;
}

#reset{
    margin: 20px 20px 20px;
    text-align: center;
    justify-content: center;
}
.res{
    justify-content: center;
    display: flex;
}